<div class="col mb-4">
    <div class="card h-100 card-pointer" (click)="onClickCard()">
        <img src="assets/image-1.png" class="card-img-top" alt="...">
        <div class="card-body bg-light">
            <p>{{product}}</p>
            <h5 class="card-title">DISCO SSD USB3.2 256GB ADATA Yellow Externo</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
</div>