<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalCenterTitle">Producto preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="assets/image-1.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-md-7">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam aspernatur voluptatem qui
                            laudantium quis commodi animi enim amet rerum ipsum, harum rem repellendus, sit fuga
                            recusandae, neque quibusdam laborum velit! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Ullam earum autem voluptates fuga. Fugiat commodi, omnis eius at aliquam
                            assumenda adipisci in iusto incidunt fuga sint architecto repellendus delectus obcaecati?
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    routerLink="/categories/21312/123132">Más informacion</button>
            </div>
        </div>
    </div>
</div>